@page "/SyncFusionABM2"
<h3>SyncFusionDataGridTest</h3>
@using Project.Client.Pages
@using Syncfusion.Blazor.Grids

@using Syncfusion.Blazor.Navigations

@using Syncfusion.Blazor.RichTextEditor

<SfRichTextEditor @bind-Value="@Value" />

<br />

<textarea rows="5" cols="60" @bind="@Value" />

@code {
    private string Value { get; set; } = "<p>Syncfusion RichTextEditor</p>";
}